{% extends 'base.html' %}
{% load static %}

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django REST API{% endblock %}</title>
</head>

{% block content %}
<h2 class="index-title">Django REST API</h2>
  <div class="button-container">
    <a href="{% url 'list_persons' %}" class="button">List of persons</a>
        
    <a href="{% url 'personas_create' %}" class="button">Create a person</a>
  </div>
{% endblock %}


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
